body{
    background-image: linear-gradient(#000000, #c9c7c786);
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    padding: 0px;
    margin: 0px;
    border: 0px;
}

main{
    display: flex;
    height: 80vh;
}

footer{
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-family: verdana;
}

h1{
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: verdana;
    color: #ffffff;

}

#conteudo, #conteudo_tabela{
    width: 800px;
    height: 638px;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px #000000;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.titulo{
    margin: 0;
    padding: 0;
    width: inherit;
    height: 80px;
    background-image: linear-gradient(#ee5e5ed3, #281714);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 30px;
    font-family: verdana;
    word-spacing: 5px;
    letter-spacing: 3px;
}

#form{
    width: inherit;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;

}

#form input{
    border: 0px;
    border-radius: 5px;
}

#form label{
    font-family: verdana;
    font-size: 1.7em;
}

.valor{
    margin-bottom: 10px;
    margin-left: 10px;
    height: 50px;
    width: 85%;
    font-size: 1.4em;
    margin-bottom: 50px;
}


.botao{
    width: 200px;
    height: 50px;
    background-color:#333333;
    color: #ffffff;
    font-size: 1.8em;
    margin-right: 10px;


}

.botao:hover{
    cursor: pointer;
    background-color: #29ab1d;
}

#resultado{
    width: 90%;
    height: 100px;
    background-color: #3a3a3b;
    box-sizing: border-box;
    padding-top: 2px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border-spacing: 5px;
    border: 2px;
    
}

.tabela_titulos td{
    width: 50%;
    height: 30px;
    background-color: #3a3a3b;
    color: #ffffff;
}

#resultado tr{
    width: 100%;
    height: 40px;
    background-color: #fffdfd;
}